



		<!-- Barra de navegación -->
						
				<div class="nav-container">

				
					
				
				</div>
		<!-- Barra de navegación -->


		
		<div class="main-container">
					
			<section class="hero-slider large-image">
				<ul class="slides">
					<li>
						<div class="background-image-holder">
							<img alt="Slide Background" class="background-image" src="https://dl.dropboxusercontent.com/u/3190329/librora_img/hero26.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="text-center col-sm-12">
									<img alt="logo" class="logo" src="https://dl.dropboxusercontent.com/u/3190329/librora_img/logoSETv1blanco.gif">
									<h2 class="text-white">Sólo aquello que se ha ido<br>es lo que nos pertenece.</h2>
                                    <h5 class="text-white"><em>Jorge Luis Borges</em></h5><br><br>
                                    <a class="btn btn-white" href="#">Rogar</a>
									<a class="btn btn-filled" href="#">iniciar sesión</a>
								</div>
							</div>
						</div>	
					</li>
				
				</ul>
			</section>
			
			<section class="large-pad dark-bg text-hero-2">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-12">
							<h1 class="text-white text-center">Manifiesto</h1>
							<p class="super-lead text-white">We’re a Community, working to build a more happy planet. Together, we believe it's possible to create a society based on better not more, sharing not selfishness, community not division. We invite you to be inspired by and share.<br></p>
						</div>
					</div>
				</div>
			</section>
			
			<section class="no-pad fullwidth color-features">
				<div class="col-md-4">
					<div class="color-feature">
						<div class="detail-line"></div>
						<h5 class="alt-font text-white">lees libros</h5>
						<i class="pe-7s-pen"></i>
						<h5 class="text-white">Branding + Strategy</h5>
						<p class="text-white">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
						</p>
					</div>
				</div>
			
				<div class="col-md-4">
					<div class="color-feature">
						<div class="detail-line"></div>
						<h5 class="alt-font text-white">entras a librora</h5>
						<i class="pe-7s-compass"></i>
						<h5 class="text-white">No Challenge Too Great</h5>
						<p class="text-white">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
						</p>
					</div>
				</div>
			
				<div class="col-md-4">
					<div class="color-feature">
						<div class="detail-line"></div>
						<h5 class="alt-font text-white">intercambias con gente</h5>
						<i class="pe-7s-target"></i>
						<h5 class="text-white">Teamwork Is An Artform</h5>
						<p class="text-white">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
						</p>
					</div>
				</div>
			</section>
			
			<section class="enquire-strip strip">
		
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="alt-font">Let's Make Sweet </span> <span class="alt-font color-love"><i class="icon icon_heart"></i> Designs</span>
							<span class="sub">Let's start something together</span>
							<a class="btn" href="#">Enquire Now</a>
						</div>
					</div>
				</div>
			
			</section>
					

            
            
            
            
            
            
            
			
			<section class="testimonials">
				<ul class="slides">
				
					<li>
						<div class="container">
							<div class="row">
								<div class="col-md-10 col-md-offset-1 text-center">
									<p class="super-lead text-white">
										“Their collaborative process and mentoring mentality not only created a solid foundation for our product, but also established a high engineering standard that we hold ourselves to. The team at Medium Rare proved themselves invaluable.”
									</p>
									<span class="alt-font">Vince Masuka / Miami Metro</span>
								</div>
							</div>
						</div>
					</li>
				
					<li>
						<div class="container">
							<div class="row">
								<div class="col-md-10 col-md-offset-1 text-center">
									<p class="super-lead text-white">
										“When we first used Variant, it took us under five minutes to come to grips with the software.  We applaud Medium Rare for the standout job they have done crafting this intuitive and innovative piece of software.  Truly a shake-up in the HTML game.”
									</p>
									<span class="alt-font">Brian Moser / Ice on Site</span>
								</div>
							</div>
						</div>
					</li>
				
					<li>
						<div class="container">
							<div class="row">
								<div class="col-md-10 col-md-offset-1 text-center">
									<p class="super-lead text-white">
										“The team at Medium Rare proved themselves invaluable. Their collaborative process and mentoring mentality have not only created a solid foundation for our product, but also established a high engineering standard that we will now hold ourselves to.”
									</p>
									<span class="alt-font">Arthur Mitchell / Trinity</span>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</section>			
		
		</div>
		
		
				
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
        
  
				